<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <link href= rel="stylesheet">
  </head>

  <body>

<main>
  
<h1 class="top-title">ようこそ Bookersへ！</h1>
<p><div class="top-massage">Bookers</div>では、さまざまな書籍に関するあなたの意見や<br/>
印象を共有し交換することができます</p>
<%= %>

</main>
    
  </body>
</html>